
@font-face{
    font-family: "Druk Wide Medium";
    src:url("/wp-includes/custom-css/fonts/7e389c5e310dc537b083e0e25ea6eab5.eot");
    src:url("/wp-includes/custom-css/fonts/7e389c5e310dc537b083e0e25ea6eab5.eot?#iefix")format("embedded-opentype"),
        url("/wp-includes/custom-css/fonts/7e389c5e310dc537b083e0e25ea6eab5.woff")format("woff"),
        url("/wp-includes/custom-css/fonts/7e389c5e310dc537b083e0e25ea6eab5.woff2")format("woff2"),
        url("/wp-includes/custom-css/fonts/7e389c5e310dc537b083e0e25ea6eab5.ttf")format("truetype");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
